<% provide(:title, 'About LookBookEat') %>
<h1>About LookBookEat</h1>
<p>
  This site is under development by MJ O'Carroll as a supporting website for the LookBookEat iOS application as part of a 4th year computing project at Waterford Institute of Technology. 
</p>