<% provide(:title, 'Contact') %>
<div class="center hero-unit">
  <h1>Contact</h1>

  <h2>
    This site is under development by MJ O'Carroll as a supporting website for the LookBookEat iOS application as part of a 4th year computing project at Waterford Institute of Technology.
  </h2>
  
</div>