<% provide(:title, 'Home') %>

<div class="general-page-container">
<div class="span7">
  <%= image_tag("find_text.png", :size => "449x355", alt: "Find and book tables in your area!", id:"find-text")%>
  <h2>
    Find your favourite foods at any time!
  </h2>
</div>
<div class="span5">
	<h2>
		Coming soon to the app store!
	</h2>
	<%= image_tag("3iphones.png", alt: "LookBookEat App") %>
	<%=  image_tag("custom_app_store.jpg", :class => "app-store-img", :size => "172x66", alt: "App Store") %>
</div>
</div>



