<footer class="footer">
  <div class="footer-divider">
    <%= image_tag("footer_divider.png", :size => "980x9") %>
  </div>
  <div class="footer-content">
  <small>Copyright ©
    <script type="text/javascript">
var d = new Date()
document.write(d.getFullYear())
</script>
    by <a href="https://twitter.com/a1000pigeons">MJ O'Carroll</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      
    </ul>
  </nav>
  <div>
</footer>